.content {
  display: flex;
  padding: 5px;
  gap: 5px;
}

img {
  padding: 1px;
  border: 1px solid #021a40;
  background-color: #ff0;
}

.left_div {
  flex: 60%;
}

.right_div {
  background-color: #FFF8DC;
}

.image {
  width: 100%;
  height: 100%;
}

.form_row {
  display: flex;
  height: 26px;
  justify-content: center;
  margin-top: 3px;
}

.label_font {
  font-size: 14px;
  width: 120px;
  height: 100%;
  text-align: right;
  margin-right: 10px;
}

.flat_form_label {
  font-size: 14px;
  width: 100%;
  height: 100%;
  text-align: right;
  margin-right: 10px;
}

.form_input {
  border-radius: 5px;
  width: 200px;
  font-size: 14px;
}

.weight_form_input {
  border-radius: 5px;
  width: 80px;
  font-size: 14px;
}

.dimension_form_input {
  border-radius: 5px;
  width: 70px;
  font-size: 14px;
}

.weight_form_item{
    text-align: center;
}

.form {
  border-radius: 5px;
  border: 1px solid #FFF8DC;
  padding: 2px;
  margin-bottom: 5px;
}

.button_group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.ship_form {
  font-size: 14px;
  font-weight: bold;
}

.flat_box {
  width: 200px;
}

.select_form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate_button{
  margin-top: 10px;
  margin-left: 10px;
}
